# Core dependencies
pandas
numpy
tqdm

# Image processing
tifffile
scikit-learn
opencv-python
# CLI interface
click

# Add any additional dependencies your project might need
# For example:
matplotlib
imagecodecs
# scipy

# ML part
tensorboard
